// Variables Bootstrap 4

$black: #2C2C2C;
$gray: #D9D9D9;
$lgray: #F6F6F4;
$white: #FFFFFF;
$header-height-normal: 160px;
$header-height-scroll: 60px;
$header-height-normal-mobile: 50px;
$header-height-scroll-mobile: 20px;
$footer-height-desktop: 300px;

// Variables Footer
@mixin footerBlockHeading {
  font: normal 700 12px "Roboto Mono", sans-serif;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.70) !important;
  line-height: 15px;
  letter-spacing: 2px;
  margin-bottom: 16px;
}
@mixin footerBlockItems {
  color: #ffffff;
  font: normal 400 16px "Roboto", sans-serif;
  letter-spacing: 0.1px;
}

