//// Fonts
//@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600&display=swap");
//
//html,
//body,
//* {
//  font-family: "Mulish", sans-serif;
//}
//
//.title-section {
//  font-style: normal;
//  font-weight: 800;
//  font-size: 46px;
//  line-height: 120%;
//  text-transform: uppercase;
//}
//.title-article {
//  font-style: normal;
//  font-weight: 800;
//  font-size: 46px;
//  line-height: 120%;
//  text-transform: uppercase;
//}
//
//@include media-breakpoint-down(lg) {
//  .title-section {
//    font-size: 30px;
//  }
//}
//
//@include media-breakpoint-down(xs) {
//  .title-article {
//    font-size: 30px;
//  }
//}
